<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsyncSockets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AsyncSockets.Properties.Settings>
            <setting name="SizeTcpByteArray" serializeAs="String">
                <value>64512</value>
            </setting>
            <setting name="SizeTcpSendReceive" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="SizeListenBacklog" serializeAs="String">
                <value>511</value>
            </setting>
            <setting name="XBrowserServerPort" serializeAs="String">
                <value>50100</value>
            </setting>
            <setting name="XBrowserServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SizeThreadPool" serializeAs="String">
                <value>10</value>
            </setting>
        </AsyncSockets.Properties.Settings>
    </applicationSettings>
</configuration>